h1{
    color: #D7FDEC;
    text-align: center;
    font-size: 50px
}

h1 a, a:visited, a:hover {
  text-decoration: none;
  color: inherit;
}

h2{
    color: rgb(129, 31, 6);
    text-align: center;
    font-size: 40px
}


#about{
  color: #97d1bf;
  text-align: center;
}


.logEntries{
    text-align: center;
    float: center;
    border: 1px;
    color: #97d1bf;
}

.row{
    margin-top: 54px;
}

#newsRow{
  padding: 2px 25px;
  text-align: center;
}


body {
  padding-top: 5rem;
  font-family: 'andale mono', Courier, monospace;
  background-color: #3F5C56;
}

#navbar a {
  color: #85998E;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  padding-right: 25px;
  padding-left: 25px;
}

#navbar {
  text-align: center;
}

hr{
  border-color: #85998E;
  color:#85998E;
  width: 80%;
}

.cropBox{
  margin-left: 20%;
  padding: 0px;
}

.cropImage{
  margin: 15px;
  margin-top: 70px;
  border-radius: 7px;
  width: 200px;
  height: 120px;
  object-fit: cover;
  object-position: 20% 30%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}